In this project i will make web scraping from kaggle to get dataset for London Bike

### Install library

In [2]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.8.tar.gz (84 kB)
     ---------------------------------------- 0.0/84.6 kB ? eta -:--:--
     -------------- ------------------------- 30.7/84.6 kB 1.4 MB/s eta 0:00:01
     -------------------------------------- - 81.9/84.6 kB 1.2 MB/s eta 0:00:01
     -------------------------------------- 84.6/84.6 kB 531.0 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from kaggle) (2023.11.17)
Requirement already satisfied: python-dateutil in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from kaggle) (4.66.1)
Collecting python-slugify (from kaggle)
  Obtaining dependency information for python-slugify from https://files.pythonhosted.org/packages/a4/62/02da182e544a51a5c3ccf4b03ab79df279f9c60c5e82d5e8bec7ca26ac11/python_slugify-8.0.4-py2.py3-none-any.whl.metadata
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from bleach->kaggle) (0.5.1)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Obtaining dependency information for text-unidecode>=1.3 from https://files.pythonhosted.org/packages/a6/a5/c0b6468d3824fe3fde30dbb5e1f687b291608f9473681bbf7dabbf5a87d7/text_unidecode-1.3-py2.py3-none-any.whl.metadata
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: colorama in d:\anaconda3_setup\envs\projects_env\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.2 kB ? eta -:--:--
   ------------------------------------ --- 71.7/78.2 kB ? eta -:--:--
   ---------------------------------------- 78.2/78.2 kB 1.4 MB/s eta 0:00:00
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.8-py3-none-any.whl size=111979 sha256=260b401ebb336d4757b4942cb92f50a28b9a9982080741cfbcba1826909fb353
  Stored in directory: c:\users\ahmed_gamal\appdata\local\pip\cache\wheels\b3\86\2d\2df535a84838c858ca91a03805f9c3131573c8e777fd907689
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.6.8 python-slugify-8.0.4 text-unidecode-1.3
Note: you may need to restart the kernel to use updated packages.

In [52]:
pip install openpyxl

Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/6a/94/a59521de836ef0da54aaf50da6c4da8fb4072fb3053fa71f052fd9399e7a/openpyxl-3.1.2-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/96/c2/3dd434b0108730014f1b96fd286040dc3bcb70066346f7e01ec2ac95865f/et_xmlfile-1.1.0-py3-none-any.whl.metadata
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/250.0 kB 1.4 MB/s eta 0:00:01
   ------------------ --------------------- 112.6/250.0 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.0 kB 1.9 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.0 kB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.2 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

### Import Library

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import kaggle
import zipfile

### Get Dataset

In [3]:
# take api from kaggle
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Downloading london-bike-sharing-dataset.zip to C:\Users\ahmed_gamal\OneDrive\Data Science Projects\1 - London Bike Sharing Data Analysis Project

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|##########| 165k/165k [00:00<00:00, 594kB/s]
100%|##########| 165k/165k [00:00<00:00, 582kB/s]

In [5]:
# extract files from the downloaded zip file
zipfile_name = "london-bike-sharing-dataset.zip"
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [14]:
pd.options.display.max_columns = None
pd.options.display.max_rows = 20

In [39]:
# read dataset
bikes = pd.read_csv('london_merged.csv')
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [40]:
bikes.shape

(17414, 10)

###### "timestamp" - timestamp field for grouping the data
###### "cnt" - the count of a new bike shares
###### "t1" - real temperature in C
###### "t2" - temperature in C "feels like"
###### "hum" - humidity in percentage
###### "wind_speed" - wind speed in km/h
###### "weather_code" - category of the weather
###### "is_holiday" - boolean field - 1 holiday / 0 non holiday
###### "is_weekend" - boolean field - 1 if the day is weekend
###### "season" - category field meteorological seasons: 0-spring ; 1-summer; 2-fall; 3-winter.

###### "weathe_code" category description:
###### 1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity 2 = scattered clouds / few clouds 3 = Broken clouds 4 = Cloudy 7 = Rain/ light Rain shower/ Light rain 10 = rain with thunderstorm 26 = snowfall 94 = Freezing Fog

In [41]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [42]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [43]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [44]:
bikes.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [45]:
# change column name
new_col_name = {
    'timestamp':'time',
    'cnt': 'count',
    't1': 'temp_real_C',
    't2': 'temp_feels_like_C',
    'hum': 'humidity_percent',
    'wind_speed': 'wind_speed_kph',
    'weather_code': 'weather',
    'is_holiday': 'is_holiday',
    'is_weekend': 'is_weekend',
    'season': 'season',
}

# changes it
bikes.rename(new_col_name, axis=1, inplace=True)
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [46]:
# scale humidity percent values make it from 0 to 1
bikes.humidity_percent = bikes.humidity_percent/100

In [47]:
# mapping season values to categories label
season_dict={
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}
bikes.season = bikes.season.astype('str')
bikes.season = bikes.season.map(season_dict)

In [48]:
# mapping weather values to categories label
weather_dict={
    '0.0':'Clear',
    '1.0':'Scattered clouds',
    '2.0':'Broken clouds',
    '3.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'rain with thunderstorm',
    '26.0':'Snowfall',
}
bikes.weather = bikes.weather.astype('str')
bikes.weather = bikes.weather.map(weather_dict)

In [49]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Cloudy,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Scattered clouds,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Scattered clouds,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Scattered clouds,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Scattered clouds,0.0,1.0,winter

In [53]:
# save the data in excel file to use it in tableau visualization
bikes.to_excel('london_bikes_final.xlsx', sheet_name="data")